*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;

  --main-bg-color: light-dark(white, black);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: var(--main-bg-color);

  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

main {
  flex-grow: 1;
}

footer {
  width: 100%;
  background-color: red;
}
