*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 1.2rem;

  color-scheme: light dark;

  --bg-color: light-dark(white, black);
  --text-color: light-dark(black, white);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: var(--bg-color);

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  color: inherit;
}

main {
  flex-grow: 1;
}

footer {
  width: 100%;
}
