{% extends "base.html" %}

{% block content %}
<section id="toggle-area">
  <span class="toggle-label">Detailed</span>
  <label class="switch">
    <input type="checkbox" id="compact-toggle">
    <span class="slider"></span>
  </label>
  <span class="toggle-label">Compact</span>
</section>

<section>
  <div>
    <p>Always visible content!</p>
  </div>
  <div class="compact-hidden">
    <p>Compact hidden content!</p>
  </div>
  <div class="compact-visible">
    <p>Compact visible content!</p>
  </div>
</section>

<script>
  // Toggle resume elements visibility for the compact style

  document.getElementById("compact-toggle").addEventListener("change", function () {
    const compactVisible = document.querySelector(".compact-visible");
    const compactHidden = document.querySelector(".compact-hidden");

    if (this.checked) {
      compactVisible.style.display = "block";
      compactHidden.style.display = "none";
    } else {
      compactVisible.style.display = "none";
      compactHidden.style.display = "block";
    }
  });
</script>
{% endblock content %}
