{% extends "base.html" %}

{% block content %}
<style>
  .compact-visible {
    display: none;
  }
</style>

<div>
  <input type="checkbox" id="compact-toggle">
</div>

<section>
  <div>
    <p>Always visible content!</p>
  </div>
  <div class="compact-hidden">
    <p>Compact hidden content!</p>
  </div>
  <div class="compact-visible">
    <p>Compact visible content!</p>
  </div>
</section>

<script>
  // Toggle elements visibility for the compact style

  document.getElementById("compact-toggle").addEventListener("change", function() {
    const compactVisible = document.querySelector(".compact-visible");
    const compactHidden = document.querySelector(".compact-hidden");

    if (this.checked) {
      compactVisible.style.display = "block";
      compactHidden.style.display = "none";
    } else {
      compactVisible.style.display = "none";
      compactHidden.style.display = "block";
    }
  });
</script>

{% endblock content %}
