{% extends "system/base.html" %}

{%- block style -%}
<link rel="stylesheet" href="{{ get_url(path="projects/projects.css") }}">
{%- endblock style -%}

{%- block subtitle -%}
Projects
{%- endblock subtitle -%}

{%- block description -%}
<!-- TODO projects page description -->
{%- endblock description -%}

{% block content %}
Projects page

{% for page in section.pages %}
  <h1><a href="{% if page.extra.repository_redirect %}{{ page.extra.repository }}{% else %}{{ page.permalink }}{% endif %}">{{ page.title }}</a></h1>
{% endfor %}
{% endblock content %}
