{% extends "system/base.html" %}

{%- block style -%}
<link rel="stylesheet" href="{{ get_url(path="projects/projects.css") }}">
{%- endblock style -%}

{%- block subtitle -%}
Projects
{%- endblock subtitle -%}

{%- block description -%}
<!-- TODO projects page description -->
{%- endblock description -%}

{% block content %}
Projects page

{% for post in section.pages %}
  <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
{% endfor %}
{% for subsection in section.subsections %}
  {% set subsection_section = get_section(path=subsection) %}
  <h1><a href="{{ subsection_section.permalink }}">{{ subsection_section.title }}</a></h1>
{% endfor %}
{% endblock content %}
