{% extends "system/base.html" %}

{%- block subtitle -%}
Resume
{%- endblock subtitle -%}

{%- block description -%}
Explore the professional resume of Lucas Jung aka Gruvw, showcasing skills, experience, education, hobbies, and accomplishments.
{%- endblock description -%}

{% block content %}
<section id="toggle-area">
  <span class="toggle-label">Detailed</span>
  <div class="switch">
    <input type="checkbox" id="compact-toggle">
    <span class="slider"></span>
  </div>
  <label class="toggle-label" for="compact-toggle">Compact</label>
</section>

<section>
  <div>
    <p>Always visible content!</p>
  </div>
  <div class="compact-hidden">
    <p>Compact hidden content!</p>
  </div>
  <div class="compact-visible">
    <p>Compact visible content!</p>
  </div>
</section>
{% endblock content %}

{% block script %}
<script>
  // Toggle resume elements visibility for the compact style

  document.getElementById("compact-toggle").addEventListener("change", function () {
    const compactVisible = document.querySelector(".compact-visible");
    const compactHidden = document.querySelector(".compact-hidden");

    if (this.checked) {
      compactVisible.style.display = "block";
      compactHidden.style.display = "none";
    } else {
      compactVisible.style.display = "none";
      compactHidden.style.display = "block";
    }
  });
</script>
{% endblock script %}
