{% extends "system/base.html" %}

{%- block style -%}
<link rel="stylesheet" href="{{ get_url(path="resume/resume.css") }}">
{%- endblock style -%}

{%- block subtitle -%}
Resume
{%- endblock subtitle -%}

{%- block description -%}
Explore the professional resume of Lucas Jung aka Gruvw, showcasing skills, experience, education, hobbies, and accomplishments.
{%- endblock description -%}

{% block content %}
<section id="toggle-area">
  <span class="toggle-label">Detailed</span>
  <label class="switch">
    <input type="checkbox" id="compact-toggle">
    <span class="slider"></span>
  </label>
  <span class="toggle-label">Compact</span>
</section>

<div id="cv-content">
  <section id="top-intro">
    <img src="{{ get_url(path="assets/global/img/lucas_jung.jpg") }}" alt="Lucas Jung profile picture">
    <div id="intro-title">
      <h1>Lucas Jung</h1>
      <p>@gruvw<span>(he/him)</span></p>
      <h2>Software Engineer</h2>
    </div>
  </section>

  <section class="cv-section">
    <h2>Profiles</h2>
    <div class="cv-enum">
      <div>
        <h3>Email</h3>
        <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
      </div>
      <div>
        <h3>Website</h3>
        <a href="https://gruvw.com">gruvw.com</a>
      </div>
      <div>
        <h3>GitHub</h3>
        <a href="https://github.com/{{ config.extra.github }}">{{ config.extra.github }}</a>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>About</h2>
    <div>
      <p class="large-justify compact-hidden">
        Also known as Gruvw, I was born in 2002 in Switzerland.
        I started to learn programming by myself at the age of 10.
        Since then, I have fallen in love with programming and Computer Science in general.
        I learned a lot about programming by myself before studying Computer Science at EPFL and I wrote many projects (some of them are Open-Source, you can check them out on my GitHub).
        I highly customize my working environment (PDE) to fit my workflow/needs and edit text blazingly fast.
        I am passionate and very curious about everything, and I never miss an opportunity to learn.
      </p>
      <p class="compact-visible">Programming since 2012, editing text blazingly fast, versatile, pragmatic, avid learner.</p>
    </div>
  </section>

  <section class="cv-section">
    <h2>Work</h2>
    <div>
      <div class="cv-detailed">
        <div>
          <h3>EPFL</h3>
          <span class="date">2022-09 — 2024-07</span>
        </div>
        <div>
          <span class="location">Lausanne, CH</span>
          <a href="https://www.epfl.ch/schools/ic/">epfl.ch/schools/ic</a>
        </div>
        <h4 class="work">Student Assistant</h4>
        <p class="compact-hidden">
          Programming courses (Java) student teaching assistant.<br>
          Courses: CS-107 two years, CS-108 two years.
        </p>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Del West</h3>
          <span class="date">2021-08 — 2021-09</span>
        </div>
        <div>
          <span class="location">Roche, CH</span>
          <a href="https://delwest.ch/">delwest.ch</a>
        </div>
        <h4 class="work">Information Technology Intern</h4>
        <div>
          <p class="compact-hidden">
            Installation and configuration of SCADA system on CNC machines (Industry 4.0). Data collection and analysis
            of industrial production for fault prevention.
          </p>
          <div class="compact-hidden">
            <h5>Highlights</h5>
            <ul>
              <li>Configuration of data acquisition servers using MongoDB</li>
              <li>Technical analysis of production indicators - OEE & TEEP</li>
              <li>Automatic reports generation</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Project for a private customer</h3>
          <span class="date">2020-07 — 2020-08</span>
        </div>
        <div>
          <span class="location">La Tour-de-Peilz, CH</span>
          <a
            href="https://gruvw.com/2020/09/01/laser-gun-projected-target.html">gruvw.com/2020/09/01/laser-gun-projected-target</a>
        </div>
        <h4 class="work">Software engineer</h4>
        <div>
          <p class="compact-hidden">
            Programmation of a custom software: video projected target on which you can shoot with a laser gun.
          </p>
          <div class="compact-hidden">
            <h5>Highlights</h5>
            <ul>
              <li>Software and hardware full design systems</li>
              <li>Computer vision with OpenCV</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Private teacher</h3>
          <span class="date">2019 — 2022</span>
        </div>
        <div>
          <span class="location">Vaud, CH</span>
        </div>
        <p class="compact-hidden">
          Teaching Computing, Maths, Physics and French at home to children (6-18 years old).
        </p>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Nestlé</h3>
          <span class="date">2019-07 — 2019-08</span>
        </div>
        <div>
          <span class="location">Nestlé HQ, Vevey, CH</span>
          <a href="https://www.nestle.ch/">nestle.ch</a>
        </div>
        <h4 class="work">Summer Intern</h4>
        <p class="compact-hidden">
          Summer internship (Nestlé global headquarters) in the Finances department.
        </p>
        <div class="compact-hidden">
          <h5>Highlights</h5>
          <ul>
            <li>Creation of Power BI dashboards for financial data agregation & visualisation</li>
            <li>Extensive use of the Microsoft Office Suite (for presentations, reports, one-pagers, templates, ...)
            </li>
          </ul>
        </div>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Sogel Foundation</h3>
          <span class="date">2018-07 — 2018-07</span>
        </div>
        <div>
          <span class="location">Lausane, CH</span>
        </div>
        <h4 class="work">Summer Intern</h4>
        <p class="compact-hidden">
          Short summer internship in the administration department.
        </p>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Franic Technologies SA</h3>
          <span class="date">2016-10 — 2016-10</span>
        </div>
        <div>
          <span class="location">Renens, CH</span>
          <a href="http://www.franic.eu/">franic.eu</a>
        </div>
        <h4 class="work">Summer Intern</h4>
        <p class="compact-hidden">
          Short internship to get in touch with software engineering in a professional environnement. (at age 14)
        </p>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>Education</h2>
    <div>
      <div class="cv-detailed">
        <div>
          <h3>EPFL</h3>
          <span class="date">2021-09 — 2024-07</span>
        </div>
        <div>
          <span class="location">Lausanne, CH</span>
          <a href="https://www.epfl.ch/">epfl.ch</a>
        </div>
        <h4 class="edu">Bachelor's degree of Computer Science</h4>
        <div class="compact-hidden">
          <h5>Optional Courses</h5>
          <ul>
            <li>CS-304: Research Project in Computer Science (Bachelor's thesis)</li>
            <li>CS-358: Making Intelligent Things</li>
            <li>EE-310: Microprogrammed Embedded Systems</li>
            <li>EE-312: Matrix analysis</li>
            <li>CS-233: Machine Learning</li>
            <li>EE-202: Electronics</li>
            <li>CS-328: Numerical Methods for Visual Computing and Machine Learning</li>
          </ul>
        </div>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>EPFL</h3>
          <span class="date">2020-09 — 2021-07</span>
        </div>
        <div>
          <span class="location">Lausanne, CH</span>
          <a href="https://www.epfl.ch/">epfl.ch</a>
        </div>
        <h4 class="edu">CMS</h4>
        <p class="compact-hidden">Special Intense Mathematics Course</p>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Burier High School</h3>
          <span class="date">2017-08 — 2020-07</span>
        </div>
        <div>
          <span class="location">La Tour-de-Peilz, CH</span>
          <a href="https://www.gymnasedeburier.ch/">gymnasedeburier.ch</a>
        </div>
        <h4 class="edu">High School diploma</h4>
        <p class="compact-hidden">Maths and Physics specialization</p>
      </div>

      <div class="cv-detailed compact-hidden">
        <div>
          <h3>Secondary School</h3>
          <span class="date">2014-08 — 2017-07</span>
        </div>
        <div>
          <span class="location">Blonay, CH</span>
          <a href="https://www.ecoleblonaystlegier.ch/">ecoleblonaystlegier.ch</a>
        </div>
        <h4 class="edu">Pre high school diploma</h4>
        <p class="compact-hidden">Maths and Physics specialization</p>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>Awards</h2>
    <div>
      <div class="cv-detailed">
        <div>
          <h3>Computer Science Award</h3>
          <span class="date"><span class="prefix">Awarded</span>2020-07</span>
        </div>
        <div>
          <span class="award"><span><span class="prefix">by</span>Burier High School, La-Tour-De-Peilz</span></span>
        </div>
        <p class="compact-hidden">
          Last year in high school award. Best student in Computer Science class.
          <q>For the excellence of his results in IT.</q>
        </p>
      </div>

      <div class="cv-detailed">
        <div>
          <h3>Léman Make - Robotics contest</h3>
          <span class="date"><span class="prefix">Awarded</span>2015-08</span>
        </div>
        <div>
          <span class="award"><span class="prefix">by</span>Milliwatt group, EPFL</span>
        </div>
        <p class="compact-hidden">
          Second place at the Léman Make robotics contest after one year of preparation. Presentation of my work to the
          Milliwatt conference at EPFL. (at age 13).
        </p>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>Skills</h2>
    <div class="grid-list">
      <div>
        <h3>Programming languages</h3>
        <ul>
          <li>Python</li>
          <li>Dart / Flutter</li>
          <li>C / Arduino</li>
          <li>Java / Scala</li>
          <li class="compact-hidden">LaTeX / Typst</li>
          <li class="compact-hidden">SQL</li>
          <li class="compact-hidden">Rust</li>
          <li class="compact-hidden">WEB: HTML / CSS / JavaScript / PHP</li>
        </ul>
      </div>
      <div>
        <h3>Technologies</h3>
        <ul>
          <li>Neovim (Vim) / Visual Studio Code</li>
          <li>MySQL / SQLite / MongoDB / Redis</li>
          <li class="compact-hidden">GIT / GitHub</li>
          <li>GNU / Linux / Debian</li>
          <li class="compact-hidden">Microsoft / Libre Office Suite</li>
          <li>Figma / Penpot</li>
          <li class="compact-hidden">CAD / Onshape</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>Languages</h2>
    <div class="cv-enum">
      <div>
        <h3>French</h3>
        <p>Native Speaker</p>
      </div>
      <div>
        <h3>English</h3>
        <p>Fluent (B2 certificate)</p>
      </div>
      <div>
        <h3>German</h3>
        <p>School level</p>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>Volunteering</h2>
    <div>
      <div class="cv-detailed">
        <div>
          <h3>Soup Kitchen - Mère Sofia</h3>
          <span class="date">2021 - Now</span>
        </div>
        <div>
          <span class="location">Lausanne, CH</span>
          <a href="https://www.meresofia.ch/">meresofia.ch</a>
        </div>
        <h4 class="volunteer">Meal preparation and service</h4>
      </div>
    </div>
  </section>

  <section class="cv-section">
    <h2>Interests</h2>
    <div class="compact-hidden">
      <div>
        <h3>Linux</h3>
        <ul class="cols-2">
          <li>Debian</li>
          <li>Qtile</li>
          <li>Neovim</li>
          <li>Kitty</li>
          <li>Fish Shell</li>
          <li>VIFM</li>
        </ul>
      </div>
      <div>
        <h3>Typing</h3>
        <ul class="cols-2">
          <li>DVORAK based layout</li>
          <li>Custom Split Keyboard (QMK, 36 keys)</li>
          <li>Average: ~140 words per minute</li>
          <li>Top: ~170 words per minute</li>
        </ul>
      </div>
      <div>
        <h3>Music</h3>
        <ul class="cols-2">
          <li>Playing piano / guitar / digital instruments</li>
          <li>Listening (~60'000 minutes per year)</li>
        </ul>
      </div>
      <div>
        <h3>Others</h3>
        <ul class="cols-2">
          <li>IOT / Home automation</li>
          <li>Sports (sailing, cycling, fitness, ...)</li>
          <li>Electronics</li>
          <li>Code Golf</li>
          <li>3D Printing + CAD</li>
          <li>Foosball (Table Football)</li>
          <li>Cryptocurrencies</li>
          <li>Speedcubing</li>
          <li>Video Games</li>
          <li>Constructed languages</li>
          <li>Lock Picking</li>
          <li>Theater: Member of Burier high school theater troupe 2019</li>
        </ul>
      </div>
    </div>
    <div class="compact-visible">
      <ul class="cols-2">
        <li>IOT / Electronics</li>
        <li>Music (piano, guitar, ...)</li>
        <li>Foosball (Table Football)</li>
        <li>Linux</li>
        <li>Typing (DVORAK, custom keyboard)</li>
        <li>Sports (sailing, cycling, fitness, ...)</li>
      </ul>
    </div>
  </section>
</div>
{% endblock content %}

{% block script %}
<script>
  // Toggle resume elements visibility for the compact style
  document.getElementById("compact-toggle").addEventListener("change", function () {
    const compactVisibleElements = document.querySelectorAll(".compact-visible");
    const compactHiddenElements = document.querySelectorAll(".compact-hidden");

    const toggleDisplay = (elements, shouldHide) => {
      elements.forEach(element => {
        if (shouldHide) {
          element.style.position = "absolute";
          element.style.visibility = "hidden";
          element.style.right = "0";
          element.style.bottom = "0";
        } else {
          element.style.position = "static";
          element.style.visibility = "visible";
        }
      });
    };

    toggleDisplay(compactVisibleElements, !this.checked);
    toggleDisplay(compactHiddenElements, this.checked);
  });
</script>
{% endblock script %}
