.compact-visible {
  display: none;
}

#toggle-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.toggle-label {
  margin: 0px 10px 0px 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7DD3FC;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #1E3A8A;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cv-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 50rem;

  #top-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem 3rem;

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 2rem;
    }

    #intro-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 1.4rem;
        font-weight: 500;

      }

      p {
        span {
          margin-left: 1rem;
        }
      }

      h2 {
        padding-top: 0.6rem;
        font-size: 1.2rem;
        font-weight: 400;
        flex-grow: 2;
      }
    }
  }

  .cv-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 1.2rem;

    h2 {
      // fix width to right align titles
      // set to maximum length of titles
      width: 14ch;

      margin-right: 1.2rem;
    }

    ul {
      margin-left: 1.2rem;
    }

    &>div {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.8rem 0;
      width: 100%;
    }

    .cv-enum {
      display: grid;
      grid-gap: 0.5rem 1rem;

      // set minmax size according to grid children maximum width
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .grid-list {
      display: grid;
      grid-gap: 0.5rem 1rem;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .cv-detailed {
      width: 100%;

      // first two info lines
      &>div:nth-child(-n + 2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 1rem;
      }

      & > h4 {
        margin-top: 0.2rem;
      }

      // indent additional information
      &>*:nth-child(n+3):not(h4) {
        margin: 0 1.7rem;
      }
    }
  }

  .prefix {
    margin-right: 0.6ch;
  }

  q {
    display: block;
    // TODO
  }

  .edu::before {
    mask: url("/assets/global/icons/edu.svg");
  }

  .location::before {
    mask: url("/assets/global/icons/location.svg");
  }

  .work::before {
    mask: url("/assets/global/icons/work.svg");
  }

  .volunteer::before {
    mask: url("/assets/global/icons/volunteer.svg");
  }

  .award::before {
    mask: url("/assets/global/icons/award.svg");
  }

  .edu::before,
  .location::before,
  .work::before,
  .volunteer::before,
  .award::before {
    display: inline-block;
    min-width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;

    content: "";
    background-color: var(--text-color);
    mask-size: cover;
    mask-repeat: no-repeat;

    margin-right: 0.5rem;
  }


  @media screen and (min-width: 40rem) {
    #top-intro {
      flex-direction: row;
    }

    .cv-section {
      flex-direction: row;

      p.large-justify {
        text-align: justify;
      }

      h2 {
        text-align: right;
      }
    }
  }
}
