/* code blocks */
pre {
  padding: 0.5rem;
  overflow: auto;

  mark {
    display: block;
  }

  table {
    border-collapse: collapse;

    td {
      padding: 0;

      &:nth-of-type(1) {
        text-align: center;
        vertical-align: top;
        user-select: none;
        padding-right: 0.5rem;
      }
    }
  }
}
