*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.1rem;

  color-scheme: light dark;

  --border-width: 0.2rem;
  --animation-speed: .2s;
  --animation-type: ease-out;

  // TODO colors (light and dark mode)
  --bg-color: light-dark(white, black);
  --bg-hover-color: light-dark(#e0e0e0, #e0e0e0);
  --bg-light: light-dark(#95a5a6, #95a5a6);
  --text-color: light-dark(black, white);
  --accent-color: light-dark(#00bc4f, #00bc4f);
  --yellow-color: light-dark(#f1c40f, #f1c40f);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: var(--bg-color);

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  color: inherit;
}

main {
  flex-grow: 1;
  margin: 1.2rem 1.2rem;
}

footer {
  width: 100%;
}
