header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--bg-color);
  z-index: 100;

  #top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem clamp(1rem, 3%, 3rem);
    border-bottom: var(--border-width) solid var(--text-color);
  }

  a {
    text-decoration: none;
  }

  #top-home {
    display: flex;
    align-items: center;

    width: fit-content;

    img {
      width: 3rem;
      border-radius: 50%;
    }

    span {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }

  #menu-icon {
    cursor: pointer;
    padding: 1rem .4rem;

    #menu-btn {
      display: none;
    }

    #navicon {
      display: block;
      width: 1.5rem;
      height: var(--border-width);
      background: var(--text-color);
      position: relative;
      transition: background var(--animation-speed) var(--animation-type);
    }

    #navicon::before,
    #navicon::after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: var(--text-color);
      position: absolute;
      transition: all var(--animation-speed) var(--animation-type);
    }

    #navicon::before {
      top: -0.5rem;
    }

    #navicon::after {
      top: 0.5rem;
    }

    #menu-btn:checked~#navicon {
      background: transparent;
    }

    #menu-btn:checked~#navicon::before,
    #menu-btn:checked~#navicon::after {
      top: 0;
    }

    #menu-btn:checked~#navicon::before {
      transform: rotate(45deg);
    }

    #menu-btn:checked~#navicon::after {
      transform: rotate(-45deg);
    }
  }

  #nav-unfold {
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: opacity var(--animation-speed) var(--animation-type);
  }

  &:has(#menu-btn:checked) #nav-unfold {
    height: auto;
    opacity: 1;
    border-bottom: var(--border-width) solid var(--text-color);
  }

  nav {
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;
      background-color: var(--text-color);
      gap: var(--border-width);
      list-style: none;

      li {
        flex: 1 1 9rem;
        background-color: var(--bg-color);

        a {
          display: block;
          padding: 1rem 1rem;

          text-align: center;
          white-space: nowrap
        }

        a:hover {
          background-color: var(--bg-hover-color);
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 5rem;
}
