<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% block subtitle %}Page{% endblock subtitle %} - {{ config.extra.title }}{% endblock title %}</title>

  <meta name="author" content="Lucas Jung (@gruvw)">
  <meta name="description" content="{% block description %}Explore the website of Lucas Jung, aka Gruvw, a passionate software engineer and avid learner.{% endblock description %}">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Gruvw">
  <link rel="canonical" href="{% if current_url is defined %}{{ current_url }}{% else %}{{ get_url(path="404.html") }}{% endif %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="icon" href="favicon.svg">
  <link rel="stylesheet" href="{{ get_url(path="base.css") }}">
  {% block style %}{% endblock style %}

  <script src="{{ get_url(path="js/themeSwitch.js") }}"></script>
</head>

<body>
  <header>
    <div id="top-bar">
      <a id="top-home" href="/">
        <img src="{{ get_url(path="assets/global/lucas_jung-min.jpg") }}" alt="Lucas Jung profile picture">
        <span>Gruvw</span>
      </a>

      <label id="menu-icon">
        <input type="checkbox" id="menu-btn"/>
        <span id="navicon"></span>
      </label>
    </div>

    <div id="nav-unfold">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{{ get_url(path="@/resume/index.md") }}">Contact</a></li>
          <li><a href="{{ get_url(path="@/resume/index.md") }}">Resume</a></li>
          <li><a href="{{ get_url(path="@/projects/_index.md") }}">Projects</a></li>
          <li><a href="{{ get_url(path="@/resume/index.md") }}">Documents</a></li>
          <li><a href="{{ get_url(path="@/resume/index.md") }}">Slides</a></li>
          <li><a href="{{ get_url(path="@/resume/index.md") }}">About Me</a></li>
        </ul>
      </nav>

      <label class="theme-picker-container">
        <input type="checkbox" id="theme-picker"/>
        Switch theme
      </label>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer>
    <div class="copyright">
      <p>© <script>document.write(/\d{4}/.exec(Date())[0])</script> Lucas Jung (@gruvw), All Rights Reserved.</p>
    </div>
  </footer>

  {% block script %}
  {% endblock script %}
</body>

</html>
